.bg-nike{
    background-color: #FFF9F4;
 }
 .nike-font{
     font-size: 80px;
 }
 .btn-nike{
     background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
     color: white;
 }
 .nike-shop{
   padding-top: 30px;
 }